@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
$orange :  hsl(26, 100%, 55%);
$pale-orange : hsl(25, 100%, 94%) ;
$very-dark-blue:hsl(220, 13%, 13%);
$dark-grey-blue:hsl(219, 9%, 45%);
$grey-blue:hsl(220, 14%, 75%);
$light-grey-blue:hsl(223, 64%, 98%);
@mixin widthHeight($width,$height){
    width:$width;
    height:$height;
}
*{
    box-sizing: border-box;
    font-family: "Kumbh Sans";
}
.container{
    width:90%;margin:auto;
    @media(max-width:769px){
        width:96%
    }
}
img,button{
    cursor: pointer;
}
button{
    border:none;
    color:white;
    background-color: $orange;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
    &:hover{
        opacity: 0.7;
    }
    @media (max-width:769px){
        @include widthHeight(100%,3.5rem);
        margin:1rem 0 3rem;
    }
}
nav{
    @include widthHeight(100%,4rem);
    display: flex;
    border-bottom:1px solid $grey-blue;
    @media(max-width:769px){
        height: 2rem;
        border:none;
    }
    img[alt="menu"]{
        display:none;
        @media(max-width:769px){
            display: block;
            @include widthHeight(2rem,1rem );
            margin: 0.2rem 1rem 0 0;
            &.hide-it{
                display:none;
            }
        }
    }
    img[alt="logo"]{
        @include widthHeight(10rem,1.5rem );
        margin-top:0.8rem;
        margin-right: 2rem;
        @media(max-width:769px){
            @include widthHeight(10rem,1rem );
            margin-top:0.2rem;
            margin-right:0;
            &.hide-it{
                display:none;
            }
        }
    }
   #nav{
    width:100%;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    @media(max-width:769px){
        margin:0;
        transform: translateX(70%);
        &.hide-it{
            transform: translateX(0);
        }
    }
    img[alt="close"]{
        display:none;
        @media(max-width:769px){
            display: block;
            @include widthHeight(1rem,1rem );
        }
    }
    ul{
        list-style: none;
        display: flex;
        color:$dark-grey-blue;
        padding-inline-start: 0;
        @media (max-width:769px){
            display: none;
            flex-direction: column;
            background-color: white;
            color:black;
            font-weight: 700;
            @include widthHeight(90%,2900%);
            &.show-it{
                display:block;
            }
        } 
        li{
            margin-right:1rem;
            cursor: pointer;
            &:hover{
                padding-bottom:2.7rem;
                border-bottom:4px solid $orange;
            }
            @media (max-width:769px){
                margin-bottom: 1rem;
                &:hover{
                    padding:0;
                    border-bottom: none;
                }
            }
        }
        li:first-of-type{
            @media (max-width:769px){
                margin-bottom: 3rem;
            }
        }
    }
    #images{
        display: flex;
        #cart{
            text-align: right;
            #cart-info{
                display: none;
                text-align: left;
                width:320px;
                height: 220px;
                border-radius: 10px;
                box-shadow: 0px 5px 8px $grey-blue,
                            -5px 0px 8px $grey-blue;
                margin-top: 1rem;
                margin-left: 30%;
                background-color: white;
                z-index: 10;
                &.show-it{display:block}
                #paiment{
                    text-align: center;
                }
                #title{
                    display: block;
                    padding:1rem;
                    font-weight: 700;
                    text-transform: capitalize;
                    border-bottom: 1px solid $grey-blue;
                }
                #empty{
                    display:none;
                    margin-top: 20%;
                    color: $dark-grey-blue;
                    font-weight: 700;
                    &.show-it{
                        display:block;
                    }
                }
                #paiment-info{
                    display: none;
                    margin:1rem 0;
                    padding:1rem;
                    justify-content: space-between;
                    text-align: left;
                    place-items: center;
                    &.show-it{
                        display: flex;
                    }
                    img[alt="paiment-img"]{
                        @include widthHeight(2.25rem,2.25rem );
                        border-radius: 2px;
                        cursor: auto;
                    }
                    img[alt="delete"]{
                        @include widthHeight(0.7rem,1rem );
                        border-radius: 2px;
                    }
                    div{
                        color:$dark-grey-blue;
                        #intro{
                            display: block; 
                        }
                        #final-price{
                            margin-left: 1rem;
                            color:black;
                            font-weight: 700;
                        }
                    }
                }
                button{
                    display: none;
                    @include widthHeight(80%,2.5rem);
                    margin:0 auto;
                    &.show-it{
                        display: block;
                    }
                }
            }
        }
        img[alt="cart"]{
            @include widthHeight(2rem,2rem );
            margin-right:1rem;
            margin-top: 0.5rem;
            @media(max-width:769px){
                @include widthHeight(1rem,1rem );
                &.hide-it{display: none}
            }
        }
        img[alt="avatar"]{
            @include widthHeight(3rem,3rem );
            border-radius: 50%;
            margin-right: 3rem;
            &:hover{border:2px solid $orange;}
            @media(max-width:769px){
                margin-right: 0;
                @include widthHeight(2rem,2rem );
            }
        }    
    }
   }
}
main{
    width:80%;
    margin: 5rem auto;
    display:flex;
    justify-content: space-between;
    @media(max-width:769px){
        width:100%;
        margin:-1rem 0;
        flex-direction: column;
    }
    img{
        border-radius: 10px;
    }
    #images{
        >img{
            width:100%;
        }
        img[alt="previous"],
        img[alt="next"]{
            display:none;
            @media(max-width:769px){
                display: block;
                width:1rem;
            }
        }
        img[alt="next"]{
            @media(max-width: 769px){
                transform: translate(21.5rem,-12rem);
            }    
        }
        img[alt="previous"]{
            @media(max-width: 769px){
                transform: translate(.5rem,13rem);
                &.hide-it{
                    display:none;
                }
            } 
        }
        img[alt="product-image"]{
            display: none;
            &:hover{
                opacity: 0.4;
            }
            &.hide-it{
                margin-top:1.5rem
            }
            &.current{
                display: block;
            }
        }
        #all-products{
            display:grid;
            grid-template-columns: repeat(4,1fr);
            column-gap: 1.5rem;
            margin-top: 2rem;
            @media (max-width:769px){
                display:none;
            }
            .img{
                @include widthHeight(95%,95% );
                img{
                    width:100%;
                    &:hover{
                        opacity: 0.5;                   
                    }
                }
                &.selected{
                    border: 2px solid $orange;
                    border-radius: 12px;
                    background-color: $grey-blue;
                    img{
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    #images-fixed{
        display:none;
        position: fixed;
        top:0;
        left: 0;
        @include widthHeight(100%,100%);
        text-align: center;
        padding-top:5%;
        z-index: 30;
        background-color: rgba(38, 38, 39, 0.9);
        &.show-it{display:block}
        #close2{
            transform: translateX(11rem);
            width:1rem
        }
        #img-container{
            display: flex;
            width:40%;
            margin: auto;
            place-items: center;
            img[alt="product-image"]{
                width:70%;
                margin: 0 auto 2rem;
                display:none;
                &.current{
                    display: block;
                }
            }
            img[alt="previous"],
            img[alt="next"]{
                height: 100%;
                border-radius: 50%;
                padding: 0.8rem 1rem;
                background-color: white;
                &:hover{background-color:$orange}
            }
            img[alt="previous"]{
                transform: translateX(3.5rem);
            }
            img[alt="next"]{
                transform: translateX(-3.5rem);
            }
        }
        #all-products{
            display:grid;
            grid-template-columns: repeat(4,1fr);
            column-gap: 1.5rem;
            width:25%;
            margin:auto;
            .img{
                @include widthHeight(95%,95%);
                img{
                    width:100%;
                    &:hover{
                        opacity: 0.5;                   
                    }
                }
                &.selected{
                    border: 2px solid $orange;
                    border-radius: 12px;
                    background-color: $grey-blue;
                    img{
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    #details{
        margin-top: 2rem;
        margin-left: 5rem;
        @media (max-width:769px){
            margin:-1rem 0 0 0.5rem;
        }
        h1{
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            color:$orange;
            @media (max-width:769px){
                font-size: 14px;
            }
        }
        >span{
            font-size: 36px;
            font-weight: 700;
            color: $very-dark-blue;
            @media (max-width:769px){
                font-size: 32px;
            }
        }
        p{
            margin:3rem 0 2rem;
            color:$dark-grey-blue;
            line-height: 1.5;
            @media (max-width:769px){
                margin:1rem 0 1rem;
            }
        }
        #prix{
            display:flex;
            margin-bottom: 1.5rem;
            #cash{
                display: flex;
                flex-direction: column;
                margin-right:1rem;
                #now{
                    font-weight: 700;
                    color:$very-dark-blue;
                    font-size: 18px;
                    margin-bottom: 5px;
                }
                #before{
                    font-size: 14px;
                    color: $dark-grey-blue;
                    text-decoration: line-through;
                }
            }
            #percentage{
                display:block;
                color:$orange;
                height: min-content;
                padding:0.25rem;
                border-radius: 20%;
                background-color: $pale-orange;
            }
        }
        #control{
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;
            @media (max-width:769px){
                flex-direction: column;
            }
            #quantity{
                width:40%;
                display: flex;
                justify-content: space-between;
                padding:1rem 1rem;
                background-color: $light-grey-blue;
                place-items: center;
                border-radius: 10px;
                font-weight: 700;
                font-size: 18px;
                @media (max-width:769px){
                    width:100%;
                }
                img{
                    @include widthHeight(10%,fit-content);
                    &:hover{
                        opacity: .7;
                    }
                    @media (max-width:769px){
                        width:5%;
                    }
                }
            }
            button{
                width:50%;
            }
        }
    }
}
